/* GLOBAL RESET & ROOT VARIABLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

:root {
  --beige: #FFF4EA;
  --blue: #0D28F4;
  --red: #FF070C;
  --lightblue: #8EE5FB;
  --yellow: #FFBC12;
}

body {
  background-color: var(--beige);
  overflow: hidden;
}

/* TYPOGRAPHY  */

h1, h2 {
  color: var(--blue);
  font-family: "Jersey 10";
  font-weight: 400;
  background: var(--lightblue);
  box-shadow: 6px 4px 1px 0px #000;
  width: 961px;
  padding: 20px 40px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 80px;
  height: 185px;
}

h2 {
  font-size: 80px;
  height: 150px;
  margin-top: 40px;
}

#pageAttack h3 {
  font-family: "Jersey 10";
  font-size: 90px;
  color: var(--red);
  margin-bottom: 20px;
  line-height: 0.8;
}

#pageAttack #attack {
  font-family: "Jersey 10";
  font-size: 36px;
  line-height: 1.2;
  margin-top: 20px;
  color: #000;
}

#attack ul {
  list-style: none;
  text-align: left;
  padding-left: 30px;
}


/*  BUTTONS STYLING */

button, #btnRestart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: var(--yellow);
  box-shadow: 6px 4px 1px 0px #000;
  font-family: "Jersey 10";
  font-weight: 400;
  line-height: 0.6;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  color: var(--red);
  width: 640px;
  height: 90px;
  font-size: 60px;
  margin-top: 2%;
  }



#btnRestart {
  width: 361px;
  height: 70px;
  font-size: 50px;
}

button:hover, #btnRestart:hover {
  transform: scale(1.1);
}

#pageAttack button#btnExit {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  font-size: 60px;
  width: 60px;
  height: 60px;
  box-shadow: 4px 3px 0px 0px #000;
  border: 2px solid black;
  cursor: pointer;
  font-family: "Jersey 10";
  color: black;
}


/* PAGES STYLING */

/* START + SURVIVE PAGE STYLING */

#pageStart, #pageSurvive {
  background-image: url("../img/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pageSurvive {
  padding-top: 20px;
}

#pageStart .sharklittle {
  position: absolute;
  bottom: -50px;
  right: 5px;
  width: 440px;
  height: auto;
}

#pageSurvive .shark {
  position: absolute;
  bottom: 70px;
  right: 5px;
  width: 500px;
  height: auto;
}

#survive {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* COUNTRY PAGE STYLING */

#pageCountry {
  position: relative;
  background-color: var(--beige);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pageCountry .palme {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 500px;
  height: auto;
}

#pageCountry .Schirm {
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 470.486px;
  height: 470.486px;
  transform: rotate(-12.934deg);
  flex-shrink: 0;
}

#countryDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ACTIVITY PAGE STYLING */

#pageActivity {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#pageActivity .surfbrett {
  position: absolute;
  bottom: -120px;
  right: 0;
  width: 540px;
  height: 540px;
  z-index: 1;
}

#pageActivity .ball {
  position: absolute;
  bottom: -120px;
  left: 0;
  width: 350px;
  height: 350px;
  z-index: 1;
}

#pageActivity .waves {
  position: absolute;
  left: 0;
  bottom: -60px;
  width: 100vw;
  height: auto;
  object-fit: cover;
  z-index: -1;
}

#activityDiv {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* ATTACK PAGE STYLING */

#pageAttack {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("../img/shark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.yellowBox {
  background-color: var(--yellow);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  box-shadow: 6px 4px 1px 0px #000;
  width: 600px;
  max-width: 90vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* PAGE END STYLING */

#pageEnd {
  position: relative;
  background-image: url("../img/shark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 60px;
}

#speakingBubble {
  position: absolute;
  top: 80px;
  right: 60px;
  width: 400px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 480px;
}


/*  SPECIAL ELEMENTS */

/* FRAME ALL SITES */
body::before {
  content: "";
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 3px solid #1C1B1B;
  pointer-events: none;
  z-index: 9999;
}

/* RED TEXT MARKER */
.highlight {
  color: red;
  padding-left: 12px;
}

/* HIDDEN ELEMENTS */
.hidden {
  display: none;
}

/* ALL TEXT UPPERCASE */
.uppercase-text {
  text-transform: uppercase;
}

img {
  pointer-events: none;
}




/* RESPSONSIVE */

/* TYPO */
@media (max-width: 414px) {
  h1, h2 {
    font-size: 40px;
    width: 70%;
    height: auto;
    padding: 15px;
  }

  #pageAttack h3 {
    font-size: 60px;
  }
  
  #pageAttack #attack {
    font-size: 20px;
  }
  
/* BUTTONS */

  button {
    width: 60%;
    height: 60px;
    font-size: 35px;
    line-height: 0.8 !important;
    white-space: normal !important;
    margin-top: 5%;
  }

  #btnRestart {
    width: 250px;
    height: 60px;
    font-size: 30px;
  }
  
  #pageEnd .button-wrapper {
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
  }


/*PAGE START*/

  #pageStart .sharklittle {
    width: 250px;
    left: 10px;
    top: 10px;
    pointer-events: none;
    transform: scaleX(-1);
  }


/* PAGE COUNTRY */

#pageCountry h2{
  position: relative;
  z-index: 2;
}
  

#pageCountry .palme {
  width: 270px;
  left: -95px;
  bottom: 120px;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

#pageCountry .Schirm {
  transform: rotate(10deg);
  width: 200px;
  height: 250px;
  top: 5px; 
  right: 8px;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}


/*PAGE ACTIVITY */

#pageActivity {
  background-image: url("../img/waves.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

#pageActivity h2{
  position: relative;
  z-index: 2;
}

#pageActivity .surfbrett {
  
  width: 300px;
  height: 400px;
  bottom: 35px;
  left: -60px;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

#pageActivity .ball {
  width: 200px;
  height: 200px;
  top: 30px;
  right: -30px;
  left: auto;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}


/* PAGE SURVIVE */

#pageSurvive .shark {
  width: 250px;
  top: -50px;
  right: 10px;
  pointer-events: none;
}


/* PAGE ATTACK */

#pageAttack {
  padding-top: 80px;
  background-image: url("../img/shark_moblie.png");
}
.yellowBox {
  top: 200px;
  width: 70%;
  padding: 20px;
}

/*PAGE END*/

#pageEnd {
  padding-top: 80px;
  background-image: url("../img/shark_moblie.png");
}

#speakingBubble {
  width: 300px;
  top: 60px;
  right: -30px;
}

#btnExit{
  font-size: 40px;
  width: 50px;
  height: 50px;
}


/*  SPECIAL ELEMENTS */


/* PAGE LAYOUT */
#countryDiv,
#activityDiv,
#survive 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  gap: 5px;
}

/* PAGE PADDING */
#pageCountry,
#pageActivity,
#pageSurvive,
#pageAttack,
#pageEnd {
  padding-top: 120px;
}
}
